body {
    background-image: 
        linear-gradient(to bottom, rgba(0,0,0, 0.5), rgba(0,0,0,0.5)), 
        url('https://eotvos.elte.hu/media/fc/11/257544e519a2664bfd490790e70cb5bb85ad16d25e105ad43472660f9b15/ec-coli-thumb.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    height: 500px;
}
* {
    outline: 1px dotted red;
    color:aliceblue;
}
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.column {
    flex-direction: column;
    flex-wrap: wrap;
    height: 300px;
}
.flex-item {
    flex: 1 1 0px;
}
.header {
    font-size: 20px;
    font-weight: 600;
    justify-content: left;
    width: 800px;
}
button {
    all: unset;
    font-family: 'Open Sans', monospace;
    font-size: 16px;
    color:aliceblue;
    min-width: 80px;
    min-height: 30px;
    margin: 10px;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
}
.top-bar button {
    font-size: 20px;
}
.border {
    color:inherit;
    border-bottom:1px solid;
    border-color:inherit;
    width: 50px;
    align-self: center;
}
#dropdown .border {
    width: 70px;
}
.top-bar {
    letter-spacing: 1px;
}
.active {
    color:gold;
    font-weight: 800;
    transition-duration: 1s;
    border-color:gold;
}
.top-bar,
.tab {
    align-content: space-between;
    flex: 0 1 800px;
    margin:10px;
}
.inner-buttons {
    flex: 0 0 200px;
}
.inner-text {
    flex: 1 1 400px;
    align-content: space-around;
}


@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/open-sans-v43-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
